<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/bootstrap.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — Chris Tyrrel</title>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ '/'|url }}">Chris Tyrrel</a>
      <ul class="navbar-nav mr-auto">
        <li{% if this._path == '/' %} class="nav-item active"{% endif
          %}>
        {% for href, title in [
          ['/projects', 'Projects'],
          ['/about', 'About']
        ] %}
          <li{% if this.is_child_of(href) %} class="nav-item active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2019 by Chris Tyrrel.
  </footer>
</body>
